body {
  background: #1f1f1f;
  color: #bbbbbb;
}
body .navbar-default {
  background: #000000;
  border-color: #000000;
}
body .navbar-default .navbar-brand {
  padding: 0 15px;
}
body .navbar-default .navbar-brand img.logo {
  max-height: 50px;
}
body .navbar-default .navbar-collapse {
  border-color: #3c3c3c;
}
body .navbar-default .navbar-toggle {
  border-color: #3c3c3c;
}
body .navbar-default .navbar-toggle:hover {
  background-color: #3c3c3c;
}
body .navbar-default a:hover {
  color: #eeeeee;
}
body a {
  color: #eeeeee;
}
body a:hover {
  color: #f9aa03;
  text-decoration: none;
}
body a.btn-plex {
  color: #000000;
}
body a.btn-plex:hover {
  color: #eeeeee;
}
body a.orange {
  color: #f9aa03;
}
body a.orange:hover {
  color: #eeeeee;
}
body span.orange {
  color: #f9aa03;
}
body .grey {
  color: #999999;
}
body .badge-warning {
  background: #f9aa03;
  color: #000000;
}
body img.poster-face {
  border-radius: 3px;
  border: 1px solid #3c3c3c;
  box-shadow: 0 0 10px #000000;
}
body img.poster-face:hover {
  box-shadow: 0 0 0 2px #f9aa03;
}
.modal {
  color: #999999;
}
.modal strong {
  color: #eeeeee;
}
.modal h4 {
  color: #f9aa03;
}
.modal h3 {
  margin: 0;
  line-height: 30px;
  font-size: 20px;
}
.modal h5 {
  color: #eeeeee;
}
.modal .modal-content {
  background: #2c2c2c;
}
.modal .modal-content .modal-body {
  background: #1a1a1a;
}
.login-wrapper {
  margin-top: 50px;
}
section {
  border: solid 1px #3c3c3c;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 50px;
  background: #1a1a1a;
}
section.no-padding {
  padding: 0;
}
section .title {
  margin-top: 0;
  border-bottom: 1px solid #3c3c3c;
  box-shadow: inset 0 -1px 0 #000000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #eeeeee;
  font-weight: normal;
  font-size: 20px;
}
section .title.small {
  font-size: 18px !important;
}
section .table-responsive {
  border: none !important;
}
table thead {
  color: #999999;
  font-size: 10px;
}
table thead tr th {
  border: none !important;
}
table tbody tr {
  background: transparent;
}
table tbody tr:last-child td {
  border-bottom: 1px solid #666666;
}
table tbody tr:nth-child(even) {
  background: #1f1f1f;
}
table tbody tr td {
  border-top: 1px solid #666666 !important;
}
table tbody tr.even {
  background: #1f1f1f;
}
.dataTables_wrapper:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}
.dataTables_wrapper .dataTables_info {
  float: left;
  margin-left: 20px;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
}
.dataTables_wrapper .dataTables_paginate ul.pagination {
  margin: 0 20px 20px 0;
}
.dataTables_wrapper .dataTables_paginate ul.pagination li a {
  background: #1f1f1f;
  border-color: #666666;
  color: #eeeeee;
}
.dataTables_wrapper .dataTables_paginate ul.pagination li a:hover {
  color: #f9aa03;
}
.dataTables_wrapper .dataTables_paginate ul.pagination li.active a {
  background: #f9aa03;
  border-color: #f9aa03;
  color: #000000;
}
.dataTables_wrapper .dataTables_paginate ul.pagination li.disabled a {
  color: #999999;
}
.dataTables_wrapper .dataTables_paginate ul.pagination li.disabled a a:hover {
  color: #999999;
}
.dataTables_length {
  float: left;
  padding: 20px;
  font-size: 16px !important;
}
.dataTables_length select {
  margin-top: 5px;
  border: 2px solid #444;
  background: #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #999;
}
.dataTables_filter {
  float: right;
  padding: 20px;
  font-size: 16px !important;
}
.dataTables_filter input {
  margin-top: 5px;
  margin-left: 5px;
  color: #F9AA03;
  border: 2px solid #444;
  background: #333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-radius: 4px;
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.well-bg {
  border: solid 1px #3c3c3c;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 50px;
  background: #1a1a1a;
}
.well-bg .title {
  margin-top: 0;
  border-bottom: 1px solid #3c3c3c;
  box-shadow: inset 0 -1px 0 #000000;
  padding-bottom: 10px;
  color: #fff;
  font-weight: normal;
}
.well-bg .title.small {
  font-size: 18px !important;
}
.charts-wrapper .title {
  margin-bottom: 20px;
}
.charts-wrapper .charts-instance-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.charts-wrapper .charts-instance-wrapper .charts-instance-position-circle {
  position: absolute;
  background: #f9aa03;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
  left: -10px;
  top: -10px;
}
.charts-wrapper .charts-instance-wrapper .charts-instance-position-circle h3 {
  color: #000;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-size: 16px;
}
.charts-wrapper .charts-instance-wrapper .charts-instance-poster {
  width: 50px;
  float: left;
  margin-right: 10px;
}
.charts-wrapper .charts-instance-wrapper .charts-instance-position-title h4 {
  margin-top: 0;
  font-size: 14px;
  color: #eeeeee;
}
.charts-wrapper .charts-instance-wrapper .charts-instance-position-title h4 a {
  color: #eeeeee;
}
.charts-wrapper .charts-instance-wrapper .charts-instance-position-title h4 a:hover {
  color: #f9aa03;
  text-decoration: none;
}
.charts-wrapper .charts-instance-wrapper .charts-instance-position-title h5 {
  color: #999999;
}
a {
  color: #eeeeee;
}
a:hover {
  color: #f9aa03;
  text-decoration: none;
}
.progress {
  height: 5px;
  background: #1f1f1f;
}
.progress .bar {
  background: #f9aa03;
}
.stats-wrapper h1 {
  color: #f9aa03;
}
.stats-wrapper li {
  text-align: center;
}
.platform-activity img {
  border-radius: 5px;
}
.title-activity {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.recently-added-cover {
  text-align: center;
}
.recently-added-cover a {
  display: block;
}
.recently-added-cover p {
  margin-top: 10px;
  margin-bottom: 0;
}
.recently-added-cover p.small {
  margin-top: 5px;
}
.recently-added-cover p strong {
  color: #eeeeee;
}
.btn-plex {
  color: #000;
  background: #f9aa03;
}
.table-middle tbody tr td {
  vertical-align: middle;
}
.users-poster-face img {
  bottom: 0;
  overflow: hidden;
  float: left;
  background-color: #323232;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.user-info-wrapper {
  margin-bottom: 20px;
}
.user-info-wrapper h2 {
  padding-left: 20px;
  float: left;
  color: #eeeeee;
}
.info-wrapper {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
.info-wrapper .info-image-wrapper {
  margin-top: -20px;
}
.info-wrapper .info-image-wrapper img {
  width: 100%;
  max-width: none;
}
.info-wrapper .info-overlay-wrapper {
  padding-bottom: 20px;
  color: #eeeeee;
  width: 100%;
}
@media (min-width: 768px) {
  .info-wrapper .info-overlay-wrapper {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
  }
}
.info-wrapper .info-overlay-wrapper h2 {
  color: #f9aa03;
  margin-bottom: 0;
  font-weight: normal;
}
.info-wrapper .info-overlay-wrapper .info-meta-wrapper {
  margin-bottom: 10px;
}
.info-wrapper .info-overlay-wrapper .people-info-wrapper {
  margin-top: 20px;
}
.info-wrapper .info-overlay-wrapper .people-info-wrapper ul {
  margin-left: 20px;
}
.info-wrapper .info-poster-wrapper {
  margin-top: -20px;
  padding-bottom: 20px;
}
.episode-list .season-episodes-poster {
  position: relative;
  margin-bottom: 5px;
  margin-top: 20px;
}
.episode-list .season-episodes-card-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 5px;
}
.episode-list .season-episodes-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.episode-list .instance-position-circle {
  position: absolute;
  background: #f9aa03;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
  left: -10px;
  top: -10px;
}
.episode-list .instance-position-circle h3 {
  color: #000;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-size: 16px;
}
.xchart .color0 rect {
  fill: #f9aa03;
}
.xchart .color0 circle {
  fill: #f9aa03;
}
.xchart .color0 .line {
  stroke: #f9aa03;
}
.xchart .color0 .fill {
  fill: rgba(249, 170, 3, 0.1);
}
.xchart .axis .tick line {
  stroke: #3c3c3c;
  stroke-width: 1px;
}
.ex-tooltip {
  background: #000000;
  border-radius: 5px;
  position: absolute;
  padding: 5px;
}
input[type='text'],
input[type='number'],
input[type='password'],
textarea {
  font-size: 16px;
}
