@import "variables";
@import "mixins";

//media querry variables
@screen-xs-qry: ~"(min-width: @{screen-xs}) and (max-width: @{screen-xs-max})";
@screen-sm-qry: ~"(min-width: @{screen-sm}) and (max-width: @{screen-sm-max})";
@screen-md-qry: ~"(min-width: @{screen-md}) and (max-width: @{screen-md-max})";
@screen-lg-qry: ~"(min-width: @{screen-lg})";
@screen-sm-up-qry: ~"(min-width: @{screen-sm})";

//@orange: #faa732;
@orange: #F9AA03;
@dark: #1f1f1f;
@white: #eee;
@grey: #999;
@light-grey: #bbb;
@dark-grey: #3c3c3c;
@black: #000;

body{
  background: @dark;
  color: @light-grey;
  
  //navbar start
  .navbar-default{
    background: @black;
    border-color: @black;

    .navbar-brand{
      padding: 0 15px;

      img.logo{
        max-height: 50px;
      }

    }

    .navbar-collapse{
      border-color: @dark-grey;
    }

    .navbar-toggle{
      border-color: @dark-grey;

      &:hover{
        background-color: @dark-grey;
      }
    }

    a{
      &:hover{
        color: @white;
      }
    }
  }
  //navbar end
  
  //default link and headline styles
  a{
    color: @white;

    &:hover{
      color: @orange;
      text-decoration: none;
    }

    &.btn-plex{
      color: @black;

      &:hover{
        color: @white;
      }
    }

    &.orange{
      color: @orange;
  
      &:hover{
        color: @white;
      }
    }
  }
  
  //color settings for text etc
  span.orange{
    color: @orange;
  }

  .grey{
    color: @grey;
  }

  .badge-warning{
    background: @orange;
    color: @black;
  }

  img.poster-face{
    border-radius: 3px;
    border: 1px solid @dark-grey;
    box-shadow: 0 0 10px rgba(0,0,0,1);


    &:hover{
      box-shadow: 0 0 0 2px @orange;
    }
  }

}

//modal styles
.modal{
  color: @grey;
  strong{
    color: @white;
  }

  h4{
    color: @orange;
  }

  h3{
    margin: 0;
    line-height: 30px;
    font-size: 20px;
  }

  h5{
    color: @white;
  }

  .modal-content{
    background: lighten(@dark, 5%);

    .modal-body{
      background: darken(@dark, 2%);
    }

  }
  
}

.login-wrapper{
  margin-top: 50px;
}



section{
  border: solid 1px @dark-grey;
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 50px;
  background: darken(@dark, 2%);

  &.no-padding{
    padding: 0;
  }

  .title {
    margin-top: 0;
    border-bottom: 1px solid @dark-grey;
    box-shadow: inset 0 -1px 0 @black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: @white;
    font-weight: normal;
    font-size: 20px;

    &.small{
      font-size: 18px !important
    }
  }

  .table-responsive{
    border: none !important
  }
}


  table{
    thead{
      color: @grey;
      font-size: 10px;
      tr{
        th{
          border: none !important;
        }
      }
    }
    tbody{
      tr{
        background: transparent;

        &:last-child{
          td{
            border-bottom: 1px solid darken(@grey, 20);
          }
        }

        &:nth-child(even){
          background: @dark;
        }

        td{
          border-top: 1px solid darken(@grey, 20) !important;
        }

        &.even{
          background: @dark;
        }
      }
    }
  }

.dataTables_wrapper{
  &:after{
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
  .dataTables_info{
    float: left;
    margin-left: 20px;
  }
  .dataTables_paginate{
    float: right;

    ul.pagination{
      margin: 0 20px 20px 0;

      li{

        a{
          background: @dark;
          border-color: darken(@grey, 20%);
          color: @white;
          &:hover{
            color: @orange;
          }
        }

        &.active{
          a{
            background: @orange;
            border-color: @orange;
            color: #000
          }
        }



        &.disabled a{
          color: @grey;

          a:hover{
            color: @grey;
          }
        }

      }
    }
  }
}
.dataTables_length{
  float: left;
  padding: 20px;

  font-size: 16px !important;

  select{
    margin-top: 5px;
    border: 2px solid #444;
    background: #333;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #999;
  }
}

.dataTables_filter{
  float: right;
  padding: 20px;

  font-size: 16px !important;

  input{
    margin-top: 5px;
    margin-left: 5px;
    color: #F9AA03;
    border: 2px solid #444;
    background: #333;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: 4px;
    display: inline-block;
    //height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}

.well-bg{
  border: solid 1px #3c3c3c;
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 50px;
  background: darken(@dark, 2%);

  .title {
    margin-top: 0;
    border-bottom: 1px solid #3c3c3c;
    box-shadow: inset 0 -1px 0 #000000;
    padding-bottom: 10px;
    color: #fff;
    font-weight: normal;

    &.small{
      font-size: 18px !important
    }
  }
}

.charts-wrapper{
  .title {
      margin-bottom: 20px
  }
  .charts-instance-wrapper{
    position: relative;
    margin-bottom: 20px;


    .charts-instance-position-circle{
      position: absolute;
      background: @orange;
      width: 25px;
      height: 25px;
      border-radius: 50px;
      text-align: center;
      left: -10px;
      top: -10px;
      h3{
        color: #000;
        margin: 0;
        margin-top: 3px;
        padding: 0;
        font-size: 16px;
      }
    }

    .charts-instance-poster{
      width: 50px;
      float: left;
      margin-right: 10px;
    }

    .charts-instance-position-title{
      h4{
        margin-top: 0;
        font-size: 14px;
        color: @white;

        a{
          color: @white;

          &:hover{
            color: @orange;
            text-decoration: none;
          }
        }
      }

      h5{
        color: @grey;
      }

    }
  }
}


a{
  color: @white;
  &:hover{
    color: @orange;
    text-decoration: none
  }
}

.progress{
  height: 5px;
  background: @dark;
  .bar{
    background: @orange;
  }
}

.stats-wrapper{
  h1{
    color: @orange;
  }
  li{
    text-align: center;
  }
}

.platform-activity{
  img{
    border-radius: 5px;
  }
}

.title-activity{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.recently-added-cover{
  text-align: center;

  a{
    display: block;
  }

  p{
    margin-top: 10px;
    margin-bottom: 0;

    &.small{
      margin-top: 5px;
    }

    strong{
      color: @white;
    }
  }
}

.btn-plex{
  color: #000;
  background: @orange;
}

.table-middle{
  tbody{
    tr{
      td{
        vertical-align: middle
      }
    }
  }
}

.users-poster-face{
  img{
    bottom: 0;
    overflow: hidden;
    float: left;
    background-color: #323232;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
  }
}

.user-info-wrapper{
  margin-bottom: 20px;
  h2{
    padding-left: 20px;
    float: left;
    color: @white
  }
}

.info-wrapper{
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  .info-image-wrapper{

    margin-top: -20px;

    img{
      width: 100%;
      max-width: none;
    }
  }
  .info-overlay-wrapper{
    @media @screen-sm-up-qry {
      position: absolute;
      bottom: 0;
      background: fade(@black, 80%);
    }

    padding-bottom: 20px;
    color: @white;
    width: 100%;

    h2{
      color: @orange;
      margin-bottom: 0;
      font-weight: normal;
    }

    .info-meta-wrapper{
      margin-bottom: 10px;
    }

    .people-info-wrapper{
      margin-top: 20px;

      ul{
        margin-left: 20px;
      }
    }


  }
  .info-poster-wrapper{
    margin-top: -20px;
    padding-bottom: 20px;
  }


}



.episode-list{
  .season-episodes-poster{
    position: relative;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .season-episodes-card-overlay{
    position: absolute;
    bottom: 0;
    background: fade(#000, 80);
    width: 100%;
    padding: 5px;
  }

  .season-episodes-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .instance-position-circle{
      position: absolute;
      background: @orange;
      width: 25px;
      height: 25px;
      border-radius: 50px;
      text-align: center;
      left: -10px;
      top: -10px;
      h3{
        color: #000;
        margin: 0;
        margin-top: 3px;
        padding: 0;
        font-size: 16px;
      }
    }
}

//chart styles for statistics page
.xchart {
  .color0{
    rect{
      fill: @orange;
    }

    circle{
      fill: @orange;
    }

    .line{
      stroke: @orange;
    }

    .fill{
      fill: fade(@orange, 10%);
    }
  }

  .axis{
    .tick{
      line{
        stroke: @dark-grey;
        stroke-width: 1px;
      }
    }
  }
}

.ex-tooltip{
  background: @black;
  border-radius: 5px;
  position: absolute;
  padding: 5px;
}


//fix zoomin for mobile devices
input[type='text'],
input[type='number'],
input[type='password'],
textarea {
  font-size: 16px;
}