<!DOCTYPE html>
<html>
  <head>
    <title>{{_('plexivity')}}{% if title %} | {{title}} {% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon-precompressed.png') }}" />
    <!-- mobile image definitions from https://gist.github.com/tfausak/2222823 -->
    <!-- iOS 6 & 7 iPhone 5 -->
        <link href="{{ url_for('static', filename='images/apple-touch-startup-image-640x1096.png') }}"
              media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">

        <!-- iOS 6 & 7 iPhone (retina) -->
        <link href="{{ url_for('static', filename='images/apple-touch-startup-image-640x920.png') }}"
              media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">

        <!-- iOS 6 iPhone -->
        <link href="{{ url_for('static', filename='images/apple-touch-startup-image-320x460.png') }}"
              media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 1)"
              rel="apple-touch-startup-image">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/xcharts.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{{_('Toggle navigation')}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/plexivity.png')}}" class="img-responsive logo" > </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id="main-nav">
              {% if g.user.is_authenticated() %}
              <li><a href="{{url_for('settings')}}"><span class="glyphicon glyphicon-wrench"></span> {{ _('Settings') }}</a></li>
              <li><a href="{{url_for('history')}}"><span class="glyphicon glyphicon-calendar"></span> {{ _('History') }}</a></li>
              <li><a href="{{url_for('stats')}}"><span class="glyphicon glyphicon-tasks"></span> {{ _('Statistics') }}</a></li>
              <li><a href="{{url_for('users')}}"><span class="glyphicon glyphicon-user"></span> {{ _('Users') }}</a></li>
              <li><a href="{{url_for('charts')}}"><span class="glyphicon glyphicon-stats"></span> {{ _('Charts') }}</a></li>
              <li><a href="{{url_for('logout', next=request.path)}}"><span class="glyphicon glyphicon-log-out"></span> {{_('Logout')}} </a></li>
              {% else %}
              <li><a href="{{url_for('login', next=request.path)}}"><span class="glyphicon glyphicon-log-in"></span> {{_('Login')}} </a></li>
              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% for message in get_flashed_messages(with_categories=True) %}
      {%if message[0] == "error" %}
      <div class="row-fluid" style="margin-top: -20px; text-align: center;">
        <div class="alert alert-danger">{{ message[1] }}</div>
      </div>
      {%endif%}
      {%if message[0] == "info" %}
      <div class="row-fluid" style="margin-top: -20px; text-align: center;">
        <div class="alert alert-info">{{ message[1] }}</div>
      </div>
      {%endif%}
      {%if message[0] == "success" %}
      <div class="row-fluid" style="margin-top: -20px; text-align: center;">
        <div class="alert alert-success">{{ message[1] }}</div>
      </div>
      {%endif%}
    {% endfor %}
    <div class="container-fluid">
      {% block body %}{% endblock %}

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/xcharts.min.js') }}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.date_sorting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.bootstrap_pagination.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/xcharts.min.js') }}"></script>  -->

    <script type="text/javascript">
    var tableLanguage = {
        "sEmptyTable":     '{{_("No data available in table")}}',
        "sInfo":           '{{_("Showing _START_ to _END_ of _TOTAL_ entries")}}',
        "sInfoEmpty":      '{{_("Showing 0 to 0 of 0 entries")}}',
        "sInfoFiltered":   '{{_("(filtered from _MAX_ total entries)")}}',
        "sInfoPostFix":    "",
        "sInfoThousands":  ",",
        "sLengthMenu":     '{{_("Show _MENU_ entries")}}',
        "sLoadingRecords": '{{_("Loading...")}}',
        "sProcessing":     '{{_("Processing...")}}',
        "sSearch":         '{{_("Search:")}}',
        "sZeroRecords":    '{{_("No matching records found")}}',
        "oPaginate": {
            "sFirst":    '{{_("First")}}',
            "sLast":    '{{_( "Last")}}',
            "sNext":    '{{_( "Next")}}',
            "sPrevious": '{{_("Previous")}}'
        },
        "oAria": {
            "sSortAscending": '{{_(": activate to sort column ascending")}}',
            "sSortDescending": '{{_(": activate to sort column descending")}}'
        }
    }
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
