{# Renders field for bootstrap 3 standards.

    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, label_visible=true) -%}

    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
        {% endif %}
        {{ field(class_='form-control', **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}

     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
    #}
{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default') -%}

    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
        <h2>{{form.__title__}}</h2>
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {%  elif f.id == "PMS_PASS" %}
                    {{ render_field(f, type="password") }}
                {% elif f.type != "CSRFTokenField" %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
    </form>
{%- endmacro %}


{% macro render_stream_info(xml, row_count=1) -%}
    <div id="streamDetailsModal{{row_count}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >
        <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
            <h3 id="myModalLabel">
                <i class="glyphicon glyphicon-info-sign icon-white"></i> Stream Info:
                {% if xml.get('type') == "episode" %}
                <strong>{{ xml.get('grandparentTitle') }} - {{ xml.get('title') }} - s{{ xml.get('parentIndex') }}e{{ xml.get('index') }} ({{xml.find('User').get('title')}})</strong>
                {% else %}
                <strong>{{ xml.get('title') }} ({{xml.find('User').get('title')}})</strong>
                {% endif %}
            </h3>
                                </div>

                                <div class="modal-body clearfix">

                                        {% if xml.find('TranscodeSession') != None %}
                                        <div class="col-sm-4">
                                            <h4>Stream Details</h4>
                                            <ul class="list-unstyled">
                                            <h5>Video</h5>
                                            <li>Stream Type: <strong>{{ xml.find('TranscodeSession').get('videoDecision') }}</strong></li>
                                            <li>Video Resolution: <strong>{{ xml.find('TranscodeSession').get('height') }}</strong></li>
                                            <li>Video Codec: <strong>{{ xml.find('TranscodeSession').get('videoCodec') }}</strong></li>
                                            <li>Video Width: <strong>{{ xml.find('TranscodeSession').get('width') }}</strong></li>
                                            <li>Video Height: <strong>{{ xml.find('TranscodeSession').get('height') }}</strong></li>
                                            </ul>

                                            <h5>Audio</h5>
                                            <ul class="list-unstyled">
                                            <li>Stream Type: <strong>{{ xml.find('TranscodeSession').get('audioDecision') }}</strong></li>
                                            {%- if xml.find('TranscodeSession').get('audioCodec') == "dca" %}
                                             <li>Audio Codec: <strong>dts</strong></li>
                                             {%- else %}
                                             <li>Audio Codec: <strong>{{xml.find('TranscodeSession').get('audioCodec')}}</strong></li>
                                             {%- endif %}
                                             <li>Audio Channels: <strong>{{xml.find('TranscodeSession').get('audioChannels')}}</strong></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">

                                            <h4>Media Source Details</h4>
                                            <ul class="list-unstyled">
                                            <li>Container: <strong>{{xml.find('Media').get('container')}}</strong></li>
                                            <li>Resolution: <strong>{{xml.find('Media').get('videoResolution')}}</strong></li>
                                            <li>Bitrate: <strong>{{xml.find('Media').get('bitrate')}}</strong></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4>Video Source Details</h4>
                                            <ul class="list-unstyled">
                                                <li>Width: <strong>{{xml.find('Media').get('width')}}</strong></li>
                                                <li>Height: <strong>{{xml.find('Media').get('height')}}</strong></li>
                                                <li>Aspect Ratio: <strong>{{xml.find('Media').get('aspectRatio')}}</strong></li>
                                                <li>Video Frame Rate: <strong>{{xml.find('Media').get('videoFrameRate')}}</strong></li>
                                                <li>Video Codec: <strong>{{xml.find('Media').get('videoCodec')}}</strong></li>
                                            </ul>

                                            <h4>Audio Source Details</h4>
                                            <ul class="list-unstyled">
                                             {%- if xml.find('Media').get('audioCodec') == "dca" %}
                                             <li>Audio Codec: <strong>dts</strong></li>
                                             {%- else %}
                                             <li>Audio Codec: <strong>{{xml.find('Media').get('audioCodec')}}</strong></li>
                                             {%- endif %}
                                             <li>Audio Channels: <strong>{{xml.find('Media').get('audioChannels')}}</strong></li>
                                            </ul>
                                        </div>
                                        {% else %}
                                        <div class="col-sm-4">
                                            <h4>Stream Details</h4>
                                            <ul class="list-unstyled">
                                            <h5>Video</h5>
                                            <li>Stream Type: <strong>Direct Play</strong></li>
                                            <li>Video Resolution: <strong>{{ xml.find('Media').get('height') }}</strong></li>
                                            <li>Video Codec: <strong>{{ xml.find('Media').get('videoCodec') }}</strong></li>
                                            <li>Video Width: <strong>{{ xml.find('Media').get('width') }}</strong></li>
                                            <li>Video Height: <strong>{{ xml.find('Media').get('height') }}</strong></li>
                                            </ul>

                                            <h5>Audio</h5>
                                            <ul class="list-unstyled">
                                            <li>Stream Type: <strong>Direct Play</strong></li>
                                            {%- if xml.find('Media').get('audioCodec') == "dca" %}
                                             <li>Audio Codec: <strong>dts</strong></li>
                                             {%- else %}
                                             <li>Audio Codec: <strong>{{xml.find('Media').get('audioCodec')}}</strong></li>
                                             {%- endif %}
                                             <li>Audio Channels: <strong>{{xml.find('Media').get('audioChannels')}}</strong></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4>Media Source Details</h4>
                                            <ul class="list-unstyled">
                                            <li>Container: <strong>{{xml.find('Media').get('container')}}</strong></li>
                                            <li>Resolution: <strong>{{xml.find('Media').get('videoResolution')}}</strong></li>
                                            <li>Bitrate: <strong>{{xml.find('Media').get('bitrate')}}</strong></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4>Video Source Details</h4>
                                            <ul class="list-unstyled">
                                                <li>Width: <strong>{{xml.find('Media').get('width')}}</strong></li>
                                                <li>Height: <strong>{{xml.find('Media').get('height')}}</strong></li>
                                                <li>Aspect Ratio: <strong>{{xml.find('Media').get('aspectRatio')}}</strong></li>
                                                <li>Video Frame Rate: <strong>{{xml.find('Media').get('videoFrameRate')}}</strong></li>
                                                <li>Video Codec: <strong>{{xml.find('Media').get('videoCodec')}}</strong></li>
                                            </ul>
                                            <h4>Audio Source Details</h4>
                                            <ul class="list-unstyled">
                                             {%- if xml.find('Media').get('audioCodec') == "dca" %}
                                             <li>Audio Codec: <strong>dts</strong></li>
                                             {%- else %}
                                             <li>Audio Codec: <strong>{{xml.find('Media').get('audioCodec')}}</strong></li>
                                             {%- endif %}
                                             <li>Audio Channels: <strong>{{xml.find('Media').get('audioChannels')}}</strong></li>
                                            </ul>
                                        </div>
                                        {% endif %}






                                </div>

                                <div class="modal-footer">
                                </div>
</div></div>
                            </div>
{%- endmacro %}