{% extends "layout.html" %}
{% block body %}

<div id="history-charts-wrapper">
<div class="row">
  <div class="col-sm-6">
    <section class='wellbg'>
      <div class='history-charts-header'>
        <strong>{{_('Hourly Plays')}} </strong>({{_('Last 24 Hours')}})<br>
      </div>
      <div class='history-charts-instance-chart' id='playChartHourly' style="height: 200px"></div>
    </section>
  </div>
  <div class="col-sm-6">
    <section>
    <div class='history-charts-header'>
        <strong>{{_('Max Hourly Plays')}}<br>
      </div>
      <div class='history-charts-instance-chart' id='playChartMaxHourly' style="height: 200px"></div>
      </section>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <section>
    <div class='history-charts-header'>
        <strong>{{_('Daily Plays')}}<br>
      </div>
      <div class='history-charts-instance-chart' id='playChartDaily' style="height: 200px"></div>
      </section>
  </div>

  <div class="col-sm-6">
    <section>
    <div class='history-charts-header'>
        <strong>{{_('Monthly Plays')}}<br>
      </div>
      <div class='history-charts-instance-chart' id='playChartMonthly' style="height: 200px"></div>
      </section>
  </div>
</div>
</div>
<script type="text/javascript">
var dailyPlayFinal = {{daily|tojson|safe}}
var monthlyPlayFinal = {{monthly|tojson|safe}}
var maxhourlyPlayFinal = {{maxhourly|tojson|safe}}
var hourlyPlayFinal = {{hourly|tojson|safe}}
</script>

{% endblock %}
